body {
  background-color: #282c34;
  font-family: sans-serif;
  font-size: 3rem;
}

.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #03afff;
  border-radius: 4px;
  transition: transform 0.3s ease-in-out;
  border: solid 1px white;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.grid-item:hover {
  filter: opacity(0.9);
  transform: scale(1.04);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: minmax(250px, auto);
  gap: 20px;
  padding: 20px;
  grid-auto-flow: dense;
}

@media (min-width: 600px) {
  .wide {
    grid-column: span 2;
    /*grid-column-start: 1;
    grid-column-end: -1;*/
    /*grid-column: 1 / span 3;*/
    /*grid-column: 1 / 3; */
  }

  .tall {
    grid-row: span 2;
  }
}

/* primero hacer ejemplo con 100px, luego introduccir 1fr, luego decir
que vamos a tomar 5 columnas de 100px entonce 5 veces 100px
pero para eso está repeat entonces repeat(5, 100px) pero no se adapta
para eso está la funcion auto-fill y el valor que queremos dar */

/*
grid-template-columns
240px
1fr
240px 240px 240px -> repeat(3, 240px) -> repeat(auto-fill, 240px)


repeat(auto-fill, minmax(250px, 1fr)) mostrar ejemplo en chrome

grid-auto-rows: minmax(200px, auto);

gap: 20px padding:20px



*/
