.span-class {
  font-size: 40px;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 50px;
  border-radius: 10px;
}

.div-class .span-class.color-red {
  background-color: yellowgreen;
}

.div-class .span-class {
  background-color: red;
}

.color-red {
  background-color: red !important;
}
